* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins';
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

#demo {
    font-size: 2.2rem;
}

.container {
    max-width: 137rem;
    margin: 0 auto;
}

.main-title {
    font-weight: 600;
    font-size: 6rem;
    line-height: 7rem;
    text-align: center;
    color: #020202;
    max-width: 74rem;
    margin: 0 auto;
}

.sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.6rem;
    text-align: center;
    color: #878787;
}

/**********Header**************/
header {
    padding-top: 5rem;
    /* background-color: #C4C4C4; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    margin-left: auto;
}

header nav>ul {
    display: flex;
}

header nav ul li {
    margin-right: 6.7rem;
}

header nav ul li a {
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #FFFFFF;
}

.search i {
    color: #FFFFFF;
    font-size: 1.6rem;

}

nav>ul>li {
    position: relative;
}

.submenu {
    width: 21rem;
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #FFFFFF;
    display: none;
}

nav>ul>li:hover .submenu {
    display: block;
}

/*****************************/
/*********hero section********/
#hero {
    background: url(../images/hero-benner.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#hero::before {
    content: '';
    inset: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}

.hero-data {
    position: relative;
    z-index: 9;
}

#hero h1 {
    padding-top: 26rem;
    font-style: normal;
    font-weight: 700;
    font-size: 9.0rem;
    line-height: 11.0rem;
    color: #FFFFFF;
}

#hero p {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.6rem;
    color: #CFCFCF;
    max-width: 44rem;
    margin-top: 3.7rem;
    margin-bottom: 2rem;
}

.search-box {
    width: 73.6rem;
    background: #FFFFFF;
    border-radius: 7.2rem;
    box-shadow: 0px 2rem 3.5rem rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.9rem 1rem 2.3rem;
}

.search-box select {
    font-family: 'Poppins';
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 3.6rem;
    background: #FFFFFF;
    color: #9B9B9B;
}

#submit {
    background-color: #000;
    border-radius: 3rem;
    border: none;
    padding: 1.2rem 2.3rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 3.6rem;
    color: #FFFFFF;
}

.hero-data span {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #ECECEC;
}

/*****************************/

/********Explore section******/
#explore {
    margin-top: 17.8rem;
}

#explore .main-title {
    margin-bottom: 3rem;
}

.explore-slide {
    border-radius: 1rem;
    padding: 0 1rem;
}

.explore-img {
    height: 36.1rem;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.10);
}

.explore-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 1rem;
}

.explore-data {
    position: relative;
    padding: 0 1.9rem 2.6rem 1.4rem;
    opacity: 0;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.10);
}

.explore-circle {
    width: 8rem;
    height: 7.6rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    box-shadow: 0 0.4rem 3.1rem 0 rgba(0, 0, 0, 0.14);
    top: -5.6rem;
    right: 3rem;
}

.explore-circle span {
    font-weight: 400;
    font-size: 7.2rem;
    line-height: 12.6rem;
    color: #000000;
    display: inline-block;
    margin: -1rem 2.4rem;
}

.explore-data h4 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #000000;
    margin-top: 3.4rem;
    margin-bottom: 0.7rem;
}

.explore-data p {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #555555;
}

.explore-slider .swiper-button-prev,
.explore-slider .swiper-button-next {
    width: 6.9rem;
    height: 6.6rem;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #E8E8E8;
    top: 3rem;
    box-shadow: 0 0.8rem 1rem 0 rgba(0, 0, 0, 0.10);
}

.explore-slider .swiper-wrapper {
    padding: 13rem 0;
}

.explore-slider .swiper-button-prev::after,
.explore-slider .swiper-button-next::after {
    font-size: 2.5rem;
    color: #737373;
    font-weight: bold;
}

.explore-slide:hover .explore-data {
    border-radius: 0 0 1rem 1rem;
    opacity: 1;
}

.explore-slide:hover .explore-img img {
    border-radius: 1rem 1rem 0 0;
}

.explore-slide:hover {
    transform: translateY(-1rem);
}

/*****************************/

/************Choose***********/
#choose {
    margin-top: 17.8rem;
    padding-top: 2.7rem;
}

#choose .container {
    position: relative;
}

.choose-slide {
    margin: 0 4.5rem;
    border-radius: 1rem;
    padding: 4.5rem 2.2rem 7rem 2rem;
    background-color: #FFFFFF;
    box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.15);
}

#choose {
    background: url(../images/choose-background.jpg);
    background-size: 100% 54.2rem;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
}

#choose::before {
    content: '';
    inset: 0;
    height: 54.2rem;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
}

#choose .main-title {
    margin-bottom: 0.6rem;
}

#choose .main-title,
#choose .sub-title {
    color: #FFFFFF;
}

.choose-slider .swiper-wrapper {
    padding: 17rem 0;
}

.choose-img {
    width: 9.5rem;
    height: 9.7rem;
}

.choose-img img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.choose-slide .choose-data h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #000000;
    margin-top: 3.4rem;
    margin-bottom: 1.1rem;
}

.choose-slide .choose-data p {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #858585;
    margin-bottom: 3.9rem;
}

.choose-slide .choose-data a {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #000000;
}

#choose .swiper-button-prev,
#choose .swiper-button-next {
    position: absolute;
    width: 6.9rem;
    height: 6.6rem;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #E8E8E8;
    top: 15.5rem;
    box-shadow: 0 0.8rem 5rem 0 rgba(0, 0, 0, 0.10);
}

#choose .swiper-button-prev::after,
#choose .swiper-button-next::after {
    font-size: 2.5rem;
    color: #737373;
    font-weight: bold;
}

#choose .container .container {
    max-width: 115rem;
    margin: 0 auto;
}

/*****************************/
/*********tour*************/

#tour .sub-title {
    width: 63rem;
    margin: 0 auto;
    margin-bottom: 6.7rem;
    margin-top: 2rem;
}

#tour .partner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15rem;
}

/*****************************/

/**********client************/
#client {
    margin-top: 18rem;
    position: relative;
}

#client .client-container {
    margin-left: calc((100% - 137rem)/ 2);
}

.client-slider .swiper-wrapper {
    padding: 7rem 0;
}

#client h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 7rem;
    letter-spacing: 0.14em;
    color: #626262;
}

#client .main-title {
    text-align: left;
    margin: 0rem;
}

#client .sub-title {
    margin-top: 1.8rem;
    text-align: left;
}

#client p {
    max-width: 45rem;
}

.client-slide {
    margin: 0 2.2rem;
    background-color: #FFFFFF;
}

.client-img{
    width: 13rem;
    height: 13rem;
}

.client-img img{
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.client-slide .client-data h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    text-align: center;
    line-height: 3.6rem;
    color: #000000;
}

.client-data h4+p {
    max-width: 100%;
    text-align: center;
    color: #858585;
}

.client-data img {
    margin: 5rem 0.7rem 2rem 0;
    width: 2.1rem;
    height: 2.1rem;
    object-fit: cover;
    object-position: center center;
    display: inline-block;
}

.client-data {
    box-shadow: 0 2rem 3rem 0 rgba(0, 0, 0, 0.10);
    padding: 9rem 5.4rem 5.1rem 5.3rem;
    border-radius: 1rem;
}
.client-data p {
    width: 29.2rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #858585;
}
.test-nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
}

.test-nav .swiper-button-prev,
.test-nav .swiper-button-next {
    position: static;
    width: 6.9rem;
    height: 6.6rem;
    color: #737373;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #E8E8E8;
    box-shadow: 0 0.8rem 5rem 0 rgba(0, 0, 0, 0.10);
}

.test-nav .swiper-button-prev {
    margin-right: 5rem;
}

#client .swiper-button-prev::after,
#client .swiper-button-next::after {
    font-size: 2.5rem;
    color: #737373;
    font-weight: bold;
}

/****************************/
/**********price*************/
#price {
    margin-top: 18rem;
    background: url(../images/price-background.jpg);
    background-size: cover;
    padding: 6.6rem 0 15.7rem 0;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

#price .main-title {
    max-width: 86.7rem;
}

#price .main-title,
#price .sub-title {
    color: #FFFFFF;
}

#price .sub-title {
    width: 63rem;
    margin: 0 auto;
    margin-top: 2.4rem;
}

#price .sub-title {
    width: 63rem;
    margin-bottom: 8.8rem;
}

.subscribe {
    width: 67.6rem;
    margin: 0 auto;
    border-radius: 7.2rem;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.9rem 0 2.3rem;
    box-shadow: 0 2rem 3.5rem rgba(0, 0, 0, 0.3);
}

.subscribe input {
    font-family: 'Poppins';
    border: none;
    border-radius: 3rem;
    /* outline: none; */
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3.6rem;
    color: #9B9B9B;
}

.subscribe button {
    color: #DFDFDF;
    background: #000000;
    border-radius: 3rem;
    outline: none;
    border: none;
    margin: 1.1rem;
    padding: 1rem 2.3rem;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3.6rem;
    /* text-align: center; */
}

/***************************/

/*********footer-top********/
.footer-top {
    padding: 7rem 0;
}

.footer-main .logo img {
    width: 38rem;
    height: 8.4rem;
}

.logo img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.footer-top .logo p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #6C6C6C;
    width: 43.7rem;
    margin-top: 0.3rem;
}

.footer-top .footer-main {
    display: flex;
    justify-content: space-between;
}

.footer-main ul li a {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #6C6C6C;
}

.footer-main li {
    margin-bottom: 1.3rem;
}

.footer-main h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-bottom: 1.3rem;
}

.footer-main li a i {
    margin-right: 0.8rem;
    color: black;
}

.footer-main .follow i {
    color: #3D3D3D;
    font-size: 2.5rem;
    margin-right: 2.7rem;
}

.footer-bottom {
    background-color: #000;
}

.footer-main .follow li {
    display: flex;

}

.footer-bottom p {
    color: white;
    text-align: center;
    padding: 4.4rem 0;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.4rem;
    text-align: center;
    color: #DFDFDF;
}

.footer-main .contact li:hover i {
    color: #069ABA;
}

.footer-main .contact li:hover a,
.footer-main .Quick li:hover a {
    color: #069ABA;
}

.footer-main .follow li a:first-child:hover i {
    color: #3b5998;
}

.footer-main .follow li a:nth-child(2):hover i {
    color: #00acee;
}

.footer-main .follow li a:nth-child(3):hover i {
    color: #ff0000;
}

.footer-main .follow li a:last-child:hover i {
    color: #e4405f;
}

/***************************/

/* 1366 - 1440 (laptop)*/
@media screen and (max-width: 1440px) {
    .container {
        max-width: 134rem;
    }

    #hero h1 {
        padding-top: 30rem;
        line-height: 9rem;
    }

    header nav ul li {
        margin-right: 5.7rem;
    }

    #explore {
        margin-top: 15.8rem;
    }

    #explore .main-title {
        margin-bottom: 2rem;
    }

    .explore-slider .swiper-wrapper {
        padding: 12rem 0;
    }

    .explore-slider .swiper-button-prev,
    .explore-slider .swiper-button-next {
        width: 5.9rem;
        height: 5.6rem;
    }

    .explore-img {
        height: 35.1rem;
    }

    .explore-slider .swiper-button-prev::after,
    .explore-slider .swiper-button-next::after {
        font-size: 2.1rem;
    }

    #choose {
        margin-top: 15.8rem;
    }

    #choose .main-title {
        margin-bottom: 0.5rem;
    }

    #choose .swiper-button-prev,
    #choose .swiper-button-next {
        width: 5.9rem;
        height: 5.6rem;
    }

    #choose .swiper-button-prev::after,
    #choose .swiper-button-next::after {
        font-size: 2.1rem;
    }

    .choose-slider .swiper-wrapper {
        padding: 16rem 0;
    }

    #tour .sub-title {
        margin-bottom: 5.7rem;
    }

    #client .client-container {
        margin-left: calc((100% - 134rem)/ 2);
    }

    #client {
        margin-top: 15.8rem;
    }

    #client .sub-title {
        margin-top: 1.7rem;
    }

    .test-nav .swiper-button-prev,
    .test-nav .swiper-button-next {
        width: 5.9rem;
        height: 5.6rem;
    }

    #client .swiper-button-prev::after,
    #client .swiper-button-next::after {
        font-size: 2.1rem;
    }

    .client-slider .swiper-wrapper {
        padding: 2rem 0;
    }

    #price {
        margin-top: 15.8rem;
    }

    #price .sub-title {
        margin-top: 0;
        margin-bottom: 7.8rem;
    }

    .footer-top {
        padding: 3.8rem 0;
    }

    .footer-bottom p {
        padding: 1.4rem 0;
    }

    .footer-main .logo img {
        width: 35rem;
        height: 7.4rem;
    }
}

/*************************/
/* 1200 - 1365 (big ipad)*/
@media screen and (max-width: 1365px) {
    .container {
        max-width: 117rem;
    }

    header nav ul li {
        margin-right: 4.9rem;
    }

    #hero h1 {
        padding-top: 30rem;
        line-height: 7rem;
        font-size: 8rem;
    }

    #hero p {
        font-size: 1.5rem;
    }

    .search-box {
        width: 70.6rem;
        height: 7rem;
    }

    .search-box select {
        font-size: 1.7rem;
    }

    #submit {
        font-size: 1.7rem;
        padding: 1rem 2.3rem
    }

    #hero p {
        margin-top: 2.7rem;
    }

    #explore {
        margin-top: 14.5rem;
    }

    .main-title {
        font-size: 5.5rem;
        line-height: 6rem;
    }
    .sub-title {
        font-size: 1.6rem;
    }
    .explore-slider .swiper-button-prev,
    .explore-slider .swiper-button-next {
        width: 5.5rem;
        height: 5.4rem;
    }
    .explore-slider .swiper-button-prev::after,
    .explore-slider .swiper-button-next::after {
        font-size: 2rem;
    }
    .explore-img {
        height: 34.1rem;
    }
    .explore-slider .swiper-wrapper {
        padding: 12rem 0;
    }
    #choose {
        margin-top: 13rem;
    }
    #choose .swiper-button-prev, #choose .swiper-button-next {
        width: 5.5rem;
        height: 5.4rem;
    }
    #choose .swiper-button-prev::after, #choose .swiper-button-next::after {
        font-size: 2rem;
    }
    .choose-slider .swiper-wrapper {
        padding: 15rem 0;
    }
    .choose-img {
        width: 8.5rem;
        height: 8.7rem;
    }
    .choose-slide .choose-data h4 {
        font-size: 2.2rem;
        margin-top: 3.2rem;
        margin-bottom: 1rem;
    }
    .choose-slide .choose-data p {
        font-size: 1.7rem;
        margin-bottom: 3.7rem;
    }
    .choose-slide .choose-data a {
        font-size: 1.7rem;
    }
    .choose-slide {
        padding: 4.4rem 2.1rem 6.5rem 1.9rem;
    }
    #tour .sub-title {
        margin-top: 1.9rem;
    }
    #choose .container .container {
        max-width: 110rem;
    }
    #tour .partner {
        padding: 0px 10rem;
    }
    #client {
        margin-top: 13.8rem;
    }
    #client .client-container {
        margin-left: calc((100% - 117rem)/ 2);
    }
    .test-nav .swiper-button-prev, .test-nav .swiper-button-next {
        width: 5.5rem;
        height: 5.4rem;
    }
    .client-data {
        padding: 8rem 5.2rem 5rem 5rem;
    }
    .client-img img{
        width: 12rem;
        height: 12rem;
    }





    







}

@media screen and (min-width: 2000px) {

    .client-data h4+p {
        margin: 0 auto;
    }


}