* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins';
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

#demo {
    font-size: 2.2rem;
}

.container {
    max-width: 137rem;
    margin: 0 auto;
}

.main-title {
    font-weight: 600;
    font-size: 6rem;
    line-height: 7rem;
    text-align: center;
    color: #020202;
    max-width: 74rem;
    margin: 0 auto;
}

.sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.6rem;
    text-align: center;
    color: #878787;
}

/**********Header**************/
header {
    padding-top: 5rem;
    /* background-color: #C4C4C4; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    margin-left: auto;
}

header nav>ul {
    display: flex;
}

header nav ul li {
    margin-right: 6.7rem;
}

header nav ul li a {
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #FFFFFF;
}

.search i {
    color: #FFFFFF;
    font-size: 1.6rem;

}

nav>ul>li {
    position: relative;
}

.submenu {
    width: 21rem;
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #FFFFFF;
    display: none;
}

nav>ul>li:hover .submenu {
    display: block;
}

/*****************************/
/*********hero section********/
#hero {
    background: url(../images/hero-benner.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#hero::before {
    content: '';
    inset: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}

.hero-data {
    position: relative;
    z-index: 9;
}

#hero h1 {
    padding-top: 26rem;
    font-style: normal;
    font-weight: 700;
    font-size: 9.0rem;
    line-height: 11.0rem;
    color: #FFFFFF;
}

#hero p {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.6rem;
    color: #CFCFCF;
    max-width: 44rem;
    margin-top: 3.7rem;
    margin-bottom: 2rem;
}

.search-box {
    width: 73.6rem;
    background: #FFFFFF;
    border-radius: 7.2rem;
    box-shadow: 0px 2rem 3.5rem rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.9rem 1rem 2.3rem;
}

.search-box select {
    font-family: 'Poppins';
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 3.6rem;
    background: #FFFFFF;
    color: #9B9B9B;
}

#submit {
    background-color: #000;
    border-radius: 3rem;
    border: none;
    padding: 1.2rem 2.3rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 3.6rem;
    color: #FFFFFF;
}

.hero-data span {
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 3.6rem;
    color: #ECECEC;
}

/*****************************/

/********Explore section******/
#explore {
    margin-top: 17.8rem;
}

#explore .main-title {
    margin-bottom: 3rem;
}

.explore-slide {
    border-radius: 1rem;
    padding: 0 1rem;
}

.explore-img {
    height: 36.1rem;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.10);
}

.explore-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 1rem;
}

.explore-data {
    position: relative;
    padding: 0 1.9rem 2.6rem 1.4rem;
    opacity: 0;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.10);
}

.explore-circle {
    width: 8rem;
    height: 7.6rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    box-shadow: 0 0.4rem 3.1rem 0 rgba(0, 0, 0, 0.14);
    top: -5.6rem;
    right: 3rem;
}

.explore-circle span {
    font-weight: 400;
    font-size: 7.2rem;
    line-height: 12.6rem;
    color: #000000;
    display: inline-block;
    margin: -1rem 2.4rem;
}

.explore-data h4 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #000000;
    margin-top: 3.4rem;
    margin-bottom: 0.7rem;
}

.explore-data p {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #555555;
}

.explore-slider .swiper-button-prev,
.explore-slider .swiper-button-next {
    width: 6.9rem;
    height: 6.6rem;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #E8E8E8;
    top: 3rem;
    box-shadow: 0 0.8rem 1rem 0 rgba(0, 0, 0, 0.10);
}

.explore-slider .swiper-wrapper {
    padding: 13rem 0;
}

.explore-slider .swiper-button-prev::after,
.explore-slider .swiper-button-next::after {
    font-size: 2.5rem;
    color: #737373;
    font-weight: bold;
}

.explore-slide:hover .explore-data {
    border-radius: 0 0 1rem 1rem;
    opacity: 1;
}

.explore-slide:hover .explore-img img {
    border-radius: 1rem 1rem 0 0;
}

.explore-slide:hover {
    transform: translateY(-1rem);
}

/*****************************/

/************Choose***********/
#choose {
    margin-top: 17.8rem;
    padding-top: 2.7rem;
}

#choose .container {
    position: relative;
}

.choose-slide {
    margin: 0 4.5rem;
    border-radius: 1rem;
    padding: 4.5rem 2.2rem 7rem 2rem;
    background-color: #FFFFFF;
    box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.15);
}

#choose {
    background: url(../images/choose-background.jpg);
    background-size: 100% 54.2rem;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
}

#choose::before {
    content: '';
    inset: 0;
    height: 54.2rem;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
}

#choose .main-title {
    margin-bottom: 0.6rem;
}

#choose .main-title,
#choose .sub-title {
    color: #FFFFFF;
}

.choose-slider .swiper-wrapper {
    padding: 17rem 0;
}

.choose-img {
    width: 9.5rem;
    height: 9.7rem;
}

.choose-img img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.choose-slide .choose-data h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #000000;
    margin-top: 3.4rem;
    margin-bottom: 1.1rem;
}

.choose-slide .choose-data p {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #858585;
    margin-bottom: 3.9rem;
}

.choose-slide .choose-data a {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #000000;
}

#choose .swiper-button-prev,
#choose .swiper-button-next {
    position: absolute;
    width: 6.9rem;
    height: 6.6rem;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #E8E8E8;
    top: 15.5rem;
    box-shadow: 0 0.8rem 5rem 0 rgba(0, 0, 0, 0.10);
}

#choose .swiper-button-prev::after,
#choose .swiper-button-next::after {
    font-size: 2.5rem;
    color: #737373;
    font-weight: bold;
}

#choose .container .container {
    max-width: 115rem;
    margin: 0 auto;
}

/*****************************/
/*********tour*************/

#tour .sub-title {
    width: 63rem;
    margin: 0 auto;
    margin-bottom: 6.7rem;
    margin-top: 2rem;
}

#tour .partner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15rem;
}

.partner img {
    width: 18rem;
}

.partner img img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

/*****************************/

/**********client************/
#client {
    margin-top: 18rem;
    position: relative;
}

#client .client-container {
    margin-left: calc((100% - 137rem) / 2);
}

#client .swiper-wrapper {
    padding: 7rem 0;
}

#client h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 7rem;
    letter-spacing: 0.14em;
    color: #626262;
}

#client .main-title {
    text-align: left;
    margin: 0;
}

#client .sub-title {
    margin-top: 1.8rem;
    max-width: 44.3rem;
    text-align: left;
}

/* #client p {
    max-width: 45rem;
} */

.client-slide {
    margin: 0 2.2rem;
    background-color: #FFFFFF;
}

.client-img {
    max-width: 13rem;
    height: 13rem;
}

.client-img img {
    display: inline-block;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.client-slide .client-data {
    box-shadow: 0 2rem 3rem 0 rgba(0, 0, 0, 0.10);
    padding: 9rem 5.4rem 5.1rem 5.3rem;
    border-radius: 1rem;
}

.client-slide .client-data h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    text-align: center;
    line-height: 3.6rem;
    color: #000000;
}

.client-slide .client-data h4+p {
    max-width: 100%;
    text-align: center;
    color: #858585;
}

.client-slide .client-data img {
    margin: 5rem 0.7rem 2rem 0;
    width: 2.1rem;
    height: 2.1rem;
    object-fit: cover;
    object-position: center center;
    display: inline-block;
}

.client-slide .client-data p {
    max-width: 29.2rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #858585;
}

.test-nav {
    display: flex;
    justify-content: flex-end;
}

.test-nav .swiper-button-prev,
.test-nav .swiper-button-next {
    position: static;
    width: 6.9rem;
    height: 6.6rem;
    color: #737373;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #E8E8E8;
    box-shadow: 0 0.8rem 5rem 0 rgba(0, 0, 0, 0.10);
}

.test-nav .swiper-button-prev {
    margin-right: 5rem;
}

#client .swiper-button-prev::after,
#client .swiper-button-next::after {
    font-size: 2.5rem;
    color: #737373;
    font-weight: bold;
}

/****************************/
/**********price*************/
#price {
    margin-top: 18rem;
    background: url(../images/price-background.jpg);
    background-size: cover;
    padding: 6.6rem 0 15.7rem 0;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

#price .main-title {
    max-width: 86.7rem;
}

#price .main-title,
#price .sub-title {
    color: #FFFFFF;
}

#price .sub-title {
    width: 63rem;
    margin: 0 auto;
    margin-top: 2.4rem;
}

#price .sub-title {
    width: 63rem;
    margin-bottom: 8.8rem;
}

.subscribe {
    width: 67.6rem;
    margin: 0 auto;
    border-radius: 7.2rem;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.9rem 0 2.3rem;
    box-shadow: 0 2rem 3.5rem rgba(0, 0, 0, 0.3);
}

.subscribe input {
    font-family: 'Poppins';
    border: none;
    border-radius: 3rem;
    /* outline: none; */
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3.6rem;
    color: #9B9B9B;
}

.subscribe button {
    color: #DFDFDF;
    background: #000000;
    border-radius: 3rem;
    outline: none;
    border: none;
    margin: 1.1rem;
    padding: 1rem 2.3rem;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3.6rem;
    /* text-align: center; */
}

/***************************/

/*********footer-top********/
.footer-top {
    padding: 7rem 0;
}

.footer-main .logo img {
    width: 38rem;
    height: 8.4rem;
}

.logo img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.footer-top .logo p {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.5rem;
    display: flex;
    align-items: center;
    color: #6C6C6C;
    width: 43.7rem;
    margin-top: 0.3rem;
}

.footer-top .footer-main {
    display: flex;
    justify-content: space-between;
}

.footer-main ul li a {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.4rem;
    display: flex;
    align-items: center;
    color: #6C6C6C;
}

.footer-main li {
    margin-bottom: 1.3rem;
}

.footer-main h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 7rem;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-bottom: 1.3rem;
}

.footer-main li a i {
    margin-right: 0.8rem;
    color: black;
}

.footer-main .follow i {
    color: #3D3D3D;
    font-size: 2.5rem;
    margin-right: 2.7rem;
}

.footer-bottom {
    background-color: #000;
}

.footer-main .follow li {
    display: flex;

}

.footer-bottom p {
    color: white;
    text-align: center;
    padding: 4.4rem 0;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.4rem;
    text-align: center;
    color: #DFDFDF;
}

.footer-main .contact li:hover i {
    color: #069ABA;
}

.footer-main .contact li:hover a,
.footer-main .Quick li:hover a {
    color: #069ABA;
}

.footer-main .follow li a:first-child:hover i {
    color: #3b5998;
}

.footer-main .follow li a:nth-child(2):hover i {
    color: #00acee;
}

.footer-main .follow li a:nth-child(3):hover i {
    color: #ff0000;
}

.footer-main .follow li a:last-child:hover i {
    color: #e4405f;
}

/***************************/

/* 1366 - 1440 (laptop)*/
@media screen and (max-width: 1440px) {
    .container {
        max-width: 134rem;
    }

    #hero h1 {
        padding-top: 30rem;
        line-height: 9rem;
    }

    header nav ul li {
        margin-right: 5.7rem;
    }

    #explore {
        margin-top: 15.8rem;
    }

    #explore .main-title {
        margin-bottom: 2rem;
    }

    .explore-slider .swiper-wrapper {
        padding: 12rem 0;
    }

    .explore-slider .swiper-button-prev,
    .explore-slider .swiper-button-next {
        width: 5.9rem;
        height: 5.6rem;
    }

    .explore-img {
        height: 35.1rem;
    }

    .explore-slider .swiper-button-prev::after,
    .explore-slider .swiper-button-next::after {
        font-size: 2.1rem;
    }

    #choose {
        margin-top: 15.8rem;
    }

    #choose .main-title {
        margin-bottom: 0.5rem;
    }

    #choose .swiper-button-prev,
    #choose .swiper-button-next {
        width: 5.9rem;
        height: 5.6rem;
    }

    #choose .container .container {
        max-width: 114rem;
    }

    .partner img {
        width: 17rem;
    }

    #choose .swiper-button-prev::after,
    #choose .swiper-button-next::after {
        font-size: 2.1rem;
    }

    .choose-slider .swiper-wrapper {
        padding: 16rem 0;
    }

    #tour .sub-title {
        margin-bottom: 5.7rem;
    }

    #client .client-container {
        margin-left: calc((100% - 134rem)/ 2);
    }

    #client {
        margin-top: 15.8rem;
    }

    #client .sub-title {
        margin-top: 1.7rem;
    }

    .test-nav .swiper-button-prev,
    .test-nav .swiper-button-next {
        width: 5.9rem;
        height: 5.6rem;
    }

    #client .swiper-button-prev::after,
    #client .swiper-button-next::after {
        font-size: 2.1rem;
    }

    #client .swiper-wrapper {
        padding: 6rem 0;
    }

    #price {
        margin-top: 15.8rem;
    }

    #price .sub-title {
        margin-top: 0;
        margin-bottom: 7.8rem;
    }

    .footer-top {
        padding: 3.8rem 0;
    }

    .footer-bottom p {
        padding: 1.4rem 0;
    }

    .footer-main .logo img {
        width: 35rem;
        height: 7.4rem;
    }
}

/*************************/
/* 1200 - 1365 (big ipad)*/
@media screen and (max-width: 1365px) {
    .container {
        max-width: 117rem;
    }

    header nav ul li {
        margin-right: 4.9rem;
    }

    #hero h1 {
        padding-top: 30rem;
        line-height: 7rem;
        font-size: 8rem;
    }

    #hero p {
        font-size: 1.5rem;
    }

    .search-box {
        width: 70.6rem;
        height: 7rem;
    }

    .search-box select {
        font-size: 1.7rem;
    }

    #submit {
        font-size: 1.7rem;
        padding: 1rem 2.3rem
    }

    #hero p {
        margin-top: 2.7rem;
    }

    #explore {
        margin-top: 14.5rem;
    }

    .main-title {
        font-size: 5.5rem;
        line-height: 6rem;
    }

    .sub-title {
        font-size: 1.6rem;
    }

    .explore-slider .swiper-button-prev,
    .explore-slider .swiper-button-next {
        width: 5.5rem;
        height: 5.4rem;
    }

    .explore-slider .swiper-button-prev::after,
    .explore-slider .swiper-button-next::after {
        font-size: 2rem;
    }

    .explore-img {
        height: 34.1rem;
    }

    .explore-slider .swiper-wrapper {
        padding: 12rem 0;
    }

    #choose {
        margin-top: 13rem;
    }

    #choose .swiper-button-prev,
    #choose .swiper-button-next {
        width: 5.5rem;
        height: 5.4rem;
    }

    #choose .swiper-button-prev::after,
    #choose .swiper-button-next::after {
        font-size: 2rem;
    }

    .choose-slider .swiper-wrapper {
        padding: 15rem 0;
    }

    .choose-img {
        width: 8.5rem;
        height: 8.7rem;
    }

    .choose-slide .choose-data h4 {
        font-size: 2.2rem;
        margin-top: 3.2rem;
        margin-bottom: 1rem;
    }

    .choose-slide .choose-data p {
        font-size: 1.7rem;
        margin-bottom: 3.7rem;
    }

    .choose-slide .choose-data a {
        font-size: 1.7rem;
    }

    .choose-slide {
        padding: 4.4rem 2.1rem 6.5rem 1.9rem;
    }

    #choose .container .container {
        max-width: 108rem;
    }

    #tour .sub-title {
        margin-top: 1.9rem;
    }

    .partner img {
        width: 16rem;
    }

    #tour .partner {
        padding: 0px 10rem;
    }

    #client {
        margin-top: 13.8rem;
    }

    #client .client-container {
        margin-left: calc((100% - 117rem)/ 2);
    }

    .test-nav .swiper-button-prev,
    .test-nav .swiper-button-next {
        width: 5.5rem;
        height: 5.4rem;
    }

    .client-data {
        padding: 8rem 5.2rem 5rem 5rem;
    }

    .client-img img {
        width: 12rem;
        height: 12rem;
    }

    .client-slide .client-data h4 {
        font-size: 2.1rem;
    }

    .client-slide .client-data p {
        font-size: 1.6rem;
    }

    .client-slide .client-data img {
        margin: 4.5rem 0.7rem 2rem 0;
        width: 2rem;
        height: 2rem;
    }

    .client-slide .client-data p {
        font-size: 1.5rem;
    }

    .client-slide .client-data {
        padding: 8rem 5rem 5rem 5rem;
    }

    #client .sub-title {
        margin-top: 1.6rem;
    }

    #client .swiper-wrapper {
        padding: 5.5rem 0;
    }

    #price .sub-title {
        margin-bottom: 6.8rem;
    }

    .subscribe input {
        font-size: 1.9rem;
    }

    .subscribe button {
        padding: 1rem 2.1rem;
    }

    .footer-main .logo img {
        width: 33rem;
        height: 7rem;
    }

    .footer-top .logo p {
        font-size: 1.6rem;
    }

    .footer-main h4 {
        font-size: 2.4rem;
    }

    .footer-main ul li a {
        font-size: 1.7rem;
    }

    .footer-main .follow i {
        margin-right: 2.6rem;
    }

    .footer-bottom p {
        padding: 1.3rem 0;
    }
}

/*************************/
/* 992 - 1199 (big tablet)*/
@media screen and (max-width: 1199px) {
    .container {
        max-width: 95%;
    }

    header nav ul li a {
        font-size: 1.6rem;
    }

    header nav ul li {
        margin-right: 3rem;
    }

    .search i {
        font-size: 1.6rem;
    }

    #hero {
        height: 95%;
    }

    #hero h1 {
        padding-top: 25rem;
        font-size: 7rem;
    }

    #hero p {
        margin-top: 2.5rem;
    }

    header nav ul li {
        margin-right: 3.2rem;
    }

    .search-box {
        width: 67.6rem;
        height: 7rem;
    }

    #submit {
        font-size: 1.7rem;
        padding: 1rem 2rem;
    }

    #hero p {
        margin-top: 2.3rem;
    }

    .hero-data span {
        font-size: 1.7rem;
    }

    .main-title {
        font-size: 5rem;

    }

    .sub-title {
        font-size: 1.5rem;
    }

    #explore .main-title {
        margin-bottom: 1.5rem;
    }

    .explore-slider .swiper-button-prev,
    .explore-slider .swiper-button-next {
        width: 5rem;
        height: 5rem;
    }

    .explore-slide {
        padding: 0px 2rem;
    }

    .test-nav .swiper-button-prev,
    .test-nav .swiper-button-next {
        margin-right: 3rem;
    }

    .explore-slider .swiper-button-prev::after,
    .explore-slider .swiper-button-next::after {
        font-size: 1.8rem;
    }

    .explore-slider .swiper-wrapper {
        padding: 10.5rem 0;
    }

    .explore-img {
        height: 32.1rem;
        border-radius: 1rem;
    }

    #explore {
        margin-top: 12.5rem;
    }

    #choose {
        margin-top: 10rem;
    }

    #choose .container .container {
        max-width: 88rem;
    }

    #choose .swiper-button-prev,
    #choose .swiper-button-next {
        width: 5rem;
        height: 5rem;
    }

    .choose-img {
        width: 8rem;
        height: 8rem;
    }

    .choose-slide .choose-data h4 {
        font-size: 2.1rem;
        margin-top: 3rem;
    }

    .choose-slide .choose-data p {
        font-size: 1.6rem;
        margin-bottom: 3rem;
    }

    .choose-slide {
        padding: 4.2rem 2rem 6.3rem 1.7rem;
    }

    .choose-slider .swiper-wrapper {
        padding: 14rem 0;
    }

    #tour .sub-title {
        margin-bottom: 4.7rem;
    }

    .partner img {
        width: 14rem;
    }

    #tour .partner {
        padding: 0px 9rem;
    }

    #client {
        margin-top: 11.8rem;
    }

    #client .client-container {
        margin-left: calc((100% - 96rem)/ 2);
    }

    .client-img img {
        width: 11rem;
        height: 11rem;
    }

    .client-slide .client-data h4 {
        font-size: 2rem;
    }

    .client-slide .client-data p {
        font-size: 1.4rem;
    }

    .client-slide .client-data img {
        margin: 4.5rem 0.7rem 2rem 0;
        width: 1.9rem;
    }

    .test-nav .swiper-button-prev,
    .test-nav .swiper-button-next {
        width: 5rem;
        height: 5rem;
    }

    .subscribe {
        width: 67.6rem;
        height: 7rem;
        padding: 0 0.5rem 0 2.3rem;
    }

    .subscribe input {
        font-size: 1.7rem;
    }

    .subscribe button {
        font-size: 1.7rem;
    }

    .subscribe button {
        padding: 0.8rem 2rem;
    }

    .footer-main .logo img {
        width: 30rem;
        height: 7rem;
    }

    .footer-top .logo p {
        font-size: 1.5rem;
        width: 37.7rem;
    }

    .footer-main h4 {
        font-size: 2rem;
    }

    .footer-main ul li a {
        font-size: 1.5rem;
    }

    .footer-bottom p {
        padding: 1.2rem 0;
    }

    .footer-main .follow i {
        font-size: 2.3rem;
    }

    .footer-main h4 {
        margin-bottom: 0.3rem;
    }

    .footer-main .follow i {
        margin-right: 2rem;
    }
}

/*************************/
/* 768 - 991 (big tablet)*/
@media screen and (max-width: 991px) {
    .container {
        max-width: 95%;
    }

    header nav ul li a {
        font-size: 1.2rem;
    }

    header nav ul li {
        margin-right: 2.1rem;
    }

    header .logo {
        width: 34%;
    }

    .search i {
        font-size: 1.2rem;
    }

    #hero h1 {
        padding-top: 23rem;
    }

    #hero h1 {
        font-size: 6.5rem;
    }

    #hero p {
        font-size: 1.4rem;
        margin-top: 2rem;
        line-height: 3rem;
    }

    .search-box {
        width: 57.6rem;
        height: 5rem;
    }

    .search-box {
        padding: 1rem 0.8rem 1rem 2.3rem;
    }

    .search-box select {
        font-size: 1.4rem;
    }

    #submit {
        font-size: 1.4rem;
        padding: 0.4rem 1.8rem;
    }

    .hero-data span {
        font-size: 1.6rem;
    }

    #explore {
        margin-top: 11rem;
    }

    #explore .main-title {
        margin-bottom: 1.4rem;
    }

    #explore .main-title {
        width: 56rem;
    }

    .main-title {
        font-size: 4.5rem;

    }

    .sub-title {
        font-size: 1.4rem;
    }

    .explore-slider .swiper-button-prev,
    .explore-slider .swiper-button-next {
        width: 4.5rem;
        height: 4.5rem;
    }

    .explore-slider .swiper-button-prev::after,
    .explore-slider .swiper-button-next::after {
        font-size: 1.6rem;
    }

    .explore-data h4 {
        font-size: 2rem;
        line-height: 3rem;
    }

    .explore-circle span {
        font-size: 5rem;
        line-height: 12.6rem;
        margin: -1.6rem 2.4rem;
    }

    .explore-circle {
        width: 7rem;
        height: 6.6rem;
    }

    #choose {
        margin-top: 0;
    }

    #choose {
        background-size: 100% 52.2rem;
    }

    #choose::before {
        height: 52.2rem;
    }

    #choose .swiper-button-prev,
    #choose .swiper-button-next {
        width: 4.5rem;
        height: 4.5rem;
    }

    #choose .swiper-button-prev::after,
    #choose .swiper-button-next::after {
        font-size: 1.6rem;
    }

    #choose .container .container {
        max-width: 67rem;
    }

    .choose-img {
        width: 7rem;
        height: 7rem;
    }

    .choose-slide .choose-data h4 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .choose-slide .choose-data p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .choose-slide {
        padding: 4rem 1.9rem 5.1rem 1.5rem;
    }

    .choose-slider .swiper-wrapper {
        padding: 13rem 0;
    }

    #tour .sub-title {
        margin-bottom: 4rem;
    }

    #tour .partner {
        padding: 0px 8rem;
        flex-wrap: wrap;
        width: 98%;
        justify-content: space-evenly;
    }

    #client {
        margin-top: 10.8rem;
    }

    #client .client-container {
        margin-left: calc((100% - 95%)/ 2);
    }

    #client h3 {
        font-size: 2.5rem;
        line-height: 6rem;
    }

    #client .sub-title {
        margin-top: 1rem;
    }

    .test-nav {
        justify-content: center;
        margin-top: 4rem;
    }

    .test-nav .swiper-button-prev,
    .test-nav .swiper-button-next {
        width: 4.5rem;
        height: 4.5rem;
    }

    .test-nav .swiper-button-prev::after,
    .test-nav .swiper-button-next::after {
        font-size: 1.6rem;
    }

    .test-nav .swiper-button-prev,
    .test-nav .swiper-button-next {
        margin-right: 5rem;
    }

    #client .swiper-wrapper {
        padding: 4rem 0;
    }

    .client-img img {
        width: 9.5rem;
        height: 9.5rem;
        top: 19%;
    }

    .client-slide .client-data h4 {
        font-size: 1.8rem;
    }

    .client-slide .client-data h4+p {
        font-size: 1.3rem;
    }

    .client-slide .client-data img {
        margin: 3rem 0.7rem 1.5rem 0;
        width: 1.9rem;
    }

    .client-slide .client-data {
        padding: 3rem 4rem 2rem 4rem;
    }

    #price {
        margin-top: 12.8rem;
        padding: 2.6rem 0 11.7rem 0;
    }

    .subscribe {
        width: 57.6rem;
        height: 5rem;
        padding: 0 0 0 2.8rem;
    }

    .subscribe input {
        font-size: 1.4rem;
    }

    .subscribe button {
        padding: 0.4rem 2.2rem;
    }

    .subscribe button {
        margin: 0.5rem;
        font-size: 1.4rem;
    }

    .footer-main .logo img {
        width: 28rem;
        height: 6rem;
    }

    .footer-top .logo p {
        font-size: 1.4rem;
        width: 33.7rem;
    }

    .footer-top .footer-main {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .footer-main h4 {
        font-size: 1.9rem;
    }

    .footer-main ul li a {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }

    .footer-main .follow i {
        margin-right: 1.5rem;
    }

    .logo {
        width: 50%;
    }

    .contact {
        width: 34%;
    }

    .Quick {
        width: 50%;
    }

    .follow {
        width: 34%;
    }

    .footer-bottom p {
        padding: 1rem 0;
    }
}

/*************************/
/* 575 - 767 (big tablet)*/
@media screen and (max-width:767px) {

    header .logo {
        width: 23%;
    }

    header nav ul li a {
        font-size: 1.1rem;
    }

    header nav ul li {
        margin-right: 1.7rem;
    }

    #hero h1 {
        font-size: 5.5rem;
    }

    #hero h1 {
        padding-top: 21rem;
    }

    #hero p {
        font-size: 1.2rem;
        margin-top: 1.5rem;
        line-height: 2rem;
        margin-bottom: 1rem;
    }

    .search-box {
        width: 44.6rem;
        height: 4rem;
    }

    .search-box select {
        font-size: 1.2rem;
    }

    #submit {
        font-size: 1.2rem;
        padding: 0 1.2rem;
    }

    .search-box {
        padding: 1rem 0.5rem 1rem 2.3rem;
    }

    .hero-data span {
        font-size: 1.3rem;
    }

    #explore {
        margin-top: 9rem;
    }

    .main-title {
        font-size: 3rem;
    }

    #explore .main-title {
        margin-bottom: 0;
        line-height: 5rem;
        width: 46rem;
    }

    .sub-title {
        font-size: 1.2rem;
    }

    .explore-slider .swiper-button-prev,
    .explore-slider .swiper-button-next {
        width: 3.5rem;
        height: 3.5rem;
    }

    .explore-slider .swiper-button-prev::after,
    .explore-slider .swiper-button-next::after {
        font-size: 1.3rem;
    }

    .explore-slider .swiper-wrapper {
        padding: 9rem 0;
    }

    .explore-slide {
        padding: 0px 6rem;
    }

    .explore-img {
        height: 30.1rem;
    }

    .explore-circle {
        width: 6rem;
        height: 5rem;
    }

    .explore-circle span {
        font-size: 4rem;
        line-height: 10.6rem;
        margin: -1.7rem 2.1rem;
    }
    .explore-data p {
        font-size: 1.3rem;
    }
    .explore-data h4 {
        font-size: 1.9rem;
        line-height: 2rem;
    }

    #choose .main-title {
        margin-bottom: 0;
    }

    #choose .sub-title {
        line-height: 1.2rem;
    }

    .choose-slider .swiper-wrapper {
        padding: 12rem 0;
    }

    #choose .container .container {
        max-width: 37rem;
    }

    #choose .swiper-button-next,
    #choose .swiper-button-prev {
        width: 3.5rem;
        height: 3.5rem;
    }

    #choose .swiper-button-prev::after,
    #choose .swiper-button-next::after {
        font-size: 1.3rem;
    }

    .choose-img {
        width: 6rem;
        height: 6rem;
    }

    .choose-slide .choose-data h4 {
        font-size: 1.8rem;
        margin-top: 1rem;
    }

    .choose-slide .choose-data p {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    .choose-slide .choose-data a {
        font-size: 1.5rem;
    }

    #choose {
        background-size: 100% 43.2rem;
    }

    #choose::before {
        height: 43.2rem;
    }

    #tour .main-title {
        line-height: 1rem;
    }

    #tour .sub-title {
        margin-bottom: 3rem;
        max-width: 50rem;
        line-height: 2rem;
    }

    #client {
        margin-top: 8.8rem;
    }

    #client h3 {
        font-size: 2.1rem;
        line-height: 5rem;
    }

    #client .sub-title {
        margin-top: 0;
    }

    .test-nav {
        margin-top: 5rem;
    }

    .test-nav .swiper-button-prev,
    .test-nav .swiper-button-next {
        width: 3.5rem;
        height: 3.5rem;
    }

    #client .swiper-button-prev::after,
    #client .swiper-button-next::after {
        font-size: 1.3rem;
    }

    .client-img img {
        width: 8.5rem;
        height: 8.5rem;
        top: 16%;
    }

    .client-slide .client-data {
        padding: 2rem 3rem 1rem 3rem;
    }

    .client-slide .client-data h4 {
        font-size: 1.6rem;
    }

    .client-slide {
        padding: 0 10rem;
    }

    .test-nav .swiper-button-next {
        margin-right: 0;
    }

    .client-slide .client-data img {
        margin: 2rem 0.5rem 1.2rem 0;
        width: 1.7rem;
    }

    .client-slide .client-data p {
        font-size: 1.3rem;
    }

    #price {
        margin-top: 11.8rem;
        padding: 1.6rem 0 11.7rem 0;
    }

    #price .sub-title {
        margin-bottom: 6.8rem;
        line-height: 2rem;
        max-width: 50rem;
    }

    .subscribe {
        width: 41.6rem;
        height: 4rem;
        padding: 0 0 0 1.8rem;
    }

    .subscribe input {
        font-size: 1.3rem;
    }

    .subscribe button {
        padding: 0rem 2rem;
        font-size: 1.3rem;
    }

    .footer-main .logo img {
        width: 22rem;
        height: 5rem;
    }

    .footer-top .logo p {
        font-size: 1.3rem;
        width: 27.7rem;
    }

    .footer-main h4 {
        font-size: 1.6rem;
        line-height: 5rem;
    }

    .footer-main ul li a {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .footer-main .follow i {
        margin-right: 1.2rem;
    }

    .footer-bottom p {
        font-size: 1.3rem;
    }

    .footer-bottom p {
        padding: 0.3rem 0;
    }
}

/*************************/
/* 480 - 574 (big tablet)*/
@media screen and (max-width:574px) {
    #hero h1 {
        padding-top: 18rem;
    }

    #hero p {
        font-size: 1rem;
        margin-top: 1.4rem;
        line-height: 1.8;
        margin-bottom: 0.8rem;
    }
    #hero h1 {
        font-size: 4.5rem;
    }
    .search-box {
        width: 38.6rem;
        height: 3.5rem;
    }
    .search-box select {
        font-size: 1.1rem;
    }
    #submit {
        font-size: 1.1rem;
        padding: 0 1.1rem;
        line-height: 3rem;
    }
    #explore {
        margin-top: 7rem;
    }
    #explore .main-title {
        line-height: 4rem;
        font-size: 2.5rem;
        width: 38rem;
    }
    .sub-title {
        font-size: 1.1rem;
    }
    .explore-slider .swiper-button-prev, .explore-slider .swiper-button-next {
        width: 3rem;
        height: 3rem;
    }
    .explore-slider .swiper-button-prev::after, .explore-slider .swiper-button-next::after {
        font-size: 1.1rem;
    }
    .explore-slide {
        padding: 0px 7rem;
    }
    .explore-img {
        height: 28.1rem;
    }
    .explore-circle span {
        font-size: 3.5rem;
        line-height: 9.6rem;
        margin: -1.4rem 2.3rem;
    }
    .explore-data h4 {
        font-size: 1.6rem;
        line-height: 1.5;
    }
    .explore-data p {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 2.1rem;
        color: #555555;
    }
    .explore-data {
    padding: 0 1.9rem 2rem 1.4rem;
    }
    .choose-slider .swiper-wrapper {
        padding: 11rem 0;
    }
    #choose .swiper-button-next, #choose .swiper-button-prev {
        width: 3rem;
        height: 3rem;
    }
    .choose-img {
        width: 5rem;
        height: 5rem;
    }
    .choose-slide .choose-data p {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    .choose-slide .choose-data h4 {
        font-size: 1.7rem;
        margin-top: 0.8rem;
    }
    .choose-slide .choose-data a {
        font-size: 1.4rem;
    }
    #choose {
        background-size: 100% 40.2rem;
    }
    #choose::before {
        height: 40.2rem;
    }
    #tour .sub-title {
        margin-bottom: 2rem;
        max-width: 45rem;
        line-height: 2rem;
    }
    .partner img {
        width: 10rem;
    }
    #client h3 {
        font-size: 1.9rem;
        line-height: 4rem;
    }
    .test-nav .swiper-button-prev, .test-nav .swiper-button-next {
        width: 3rem;
        height: 3rem;
    }
       




}