* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins';
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

#demo {
    font-size: 2.2rem;
}

.container {
    max-width: 137rem;
    margin: 0 auto;
}

.main-title {
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #020202;
    margin-bottom: 2.9rem;
    max-width: 74rem;
    margin: 2.2rem auto;
}

.sub-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #878787;
}

/**********Header**************/
header {
    padding-top: 5rem;
    /* background-color: #C4C4C4; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    margin-left: auto;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin-right: 6.7rem;
}

header nav ul li a {
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #FFFFFF;
}

.search i {
    color: #FFFFFF;
    font-size: 1.6rem;

}

/*****************************/
/*********hero section********/
#hero {
    background: url(../images/hero-benner.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#hero::before {
    content: '';
    inset: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}

.hero-data {
    position: relative;
    z-index: 9;
}

#hero h1 {
    padding-top: 26rem;
    font-style: normal;
    font-weight: 700;
    font-size: 9.0rem;
    line-height: 11.0rem;
    color: #FFFFFF;
}

#hero p {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.6rem;
    color: #CFCFCF;
    max-width: 44rem;
    margin-top: 3.7rem;
    margin-bottom: 2rem;
}

.search-box {
    width: 73.6rem;
    background: #FFFFFF;
    border-radius: 7.2rem;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.search-box select {
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 3.6rem;
    background: #FFFFFF;
    color: #9B9B9B;
}

#submit {
    background-color: #000;
    border-radius: 3rem;
    border: none;
    padding: 1.2rem 2.3rem;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
}

.hero-data span {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #ECECEC;
}

/*****************************/

/********Explore section******/
#explore {
    margin-top: 20rem;
}
.explore-slide {
    border-radius: 1rem;
}
.explore-img {
    height: 36.1rem;
    padding: 0 1rem;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.10);
}
.explore-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 1rem;
}
.explore-data {
    position: relative;
    padding: 0 1.9rem 2.6rem 1.4rem;
    opacity: 0;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.10);
}
.explore-circle {
    width: 8rem;
    height: 7.6rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    box-shadow: 0 0.4rem 3.1rem 0 rgba(0, 0, 0, 0.14);
    top: -5.6rem;
    right: 3rem;
}
.explore-circle span {
    font-weight: 400;
    font-size: 7.2rem;
    line-height: 12.6rem;
    color: #000000;
    display: inline-block;
    margin: -1rem 2.4rem;
}
.explore-data h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-top: 3.4rem;
    margin-bottom: 0.7rem;
}
.explore-data p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #555555;
}
.explore-slider .swiper-button-prev,
.explore-slider .swiper-button-next{
    width: 6.9rem;
    height: 6.6rem;
    background-color:white;
    border-radius: 1rem;
    border: 1px solid #E8E8E8;
    top: 3rem;
    box-shadow: 0 0.8rem 5rem 0 rgba(0, 0, 0, 0.10); 
}
.explore-slider .swiper-wrapper{
    padding: 13rem 0;
}
.explore-slider .swiper-button-prev::after,
.explore-slider .swiper-button-next::after{
    font-size: 2.5rem;
    color: #737373;
    font-weight: bold;
}

.explore-slide:hover .explore-data {
    border-radius: 0 0 1rem 1rem;
    opacity: 1;
}
.explore-slide:hover .explore-img img{
    border-radius: 1rem 1rem 0 0;
}
.explore-slide:hover{
    transform: translateY(-1rem);
}
/*****************************/

/************Choose***********/
#choose{
    /* margin-top: 20rem; */
}
#choose{
    background: url(../images/choosebenner.jpg);
    height: 60rem;
    background-size: cover;
    background-position: center center;
    position: relative;
}
#choose::before {
    content: '';
    inset: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
}

/*****************************/